

// ----------- Background Color -------------------
$primary-background-color: #1d1c21;
// $primary-background-color: white;

// =================  Text Color ================= 
$paragraph-text-color:  #b0b0b0;
// $paragraph-text-color:  black;

// =================   Side bar and footer ========== 
$secondary-background-color: #1a191e;
// $secondary-background-color: #408ab7;
// $secondary-background-color: #1d1c21;
/// ------------------   Pure Color ----------------
$pure-white: white;
// $pure-white: black;s


//// ==================== Link Color ===================
$link-main-color: white;

//  ==================== hover color ================
// $link-color: rgba(255, 255, 255, 0.5);
$link-color: #e84118;