.container{
    display: flex;
    // margin-top: 7rem;
    padding-left: 1.5rem;
}
@media screen and (max-width: 1000px) {
  .container{
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
    .container{
      padding-left: 0;
      
  
    }
  }